<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"> 

	<!-- Appenders -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="-[%d{HH:mm:ss.SSS}] %-5p %C{1}.%M(%F:%L) - %m%n" />
		</layout>
	</appender>
	
	<logger name="test">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- log4jdbc logging -->
	<logger name="jdbc.sqlonly" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger> 
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>  
	<logger name="jdbc.audit" additivity="false">
		<level value="error" />
		<appender-ref ref="CONSOLE" />
	</logger> 
	<logger name="jdbc.resultset" additivity="false">
		<level value="error" />
		<appender-ref ref="CONSOLE" />
	</logger> 
	<logger name="jdbc.connection" additivity="false">
		<level value="error" />
		<appender-ref ref="CONSOLE" />
	</logger> 
	<logger name="log4jdbc.debug" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger>
    
</log4j:configuration>